<div class="jumbotron rounded-0 home-header text-center text-white">
    <h1>instaBeer</h1>
    <button type="button" class="btn home-header-btn-primary home-header-btn">Get Started</button>
    <button type="button" class="btn home-header-btn-success home-header-btn">Shop</button>
    
    
        <div class="row">
            <input class="searchBar" type="text" class="form-control" name="Location" placeholder="Enter Location">
            <button type="submit" class="searchButton">Search</button>
        </div>
   
</div>
