



<div class="container signup header">
    <form action="" method="post" ng-submit="">
        <h3>Sign Up</h3>
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" name="user" placeholder="Username/Email" />
            </div>
            <div class="col-12">
                <input type="text" class="form-control" name="password" placeholder="Password" />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Sign Up</button>
                <a href="/login" target="_self">Login</a>
            </div>
        </div>
    </form>
</div>